*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Send Flowers";
    font-size: 20pt;
}
body{
    background-color: darkgoldenrod;
    display: flex;
    justify-content: center;
}
.upper{
    display: flex;
    gap: 15px;
}
#ajout{
    height: 40px;
    width: 65%;
    outline: none;
    background: transparent;
}
label{
    cursor: pointer;
}
.container{
    margin: 30px;
    background-image: url(./assets/brouillon.png);
    width: 45%;
    height: calc(100vh - 60px);
    background-repeat: repeat-y;
    background-size: cover;
    padding-left: 175px;
    padding-top: 89px;
    padding-right: 145px;
    overflow: auto;
}
.container .rest i{
    float: right; 
    margin-top: 7px;
}
.rest{
    height: 37px;
}
i{
    cursor: pointer;
    color: brown;
}
i:hover{
    transform: scale(1.2);
}
#plus{
    color: black;
}
#plus:hover{
    color: brown;
}
input{
    cursor: pointer;
}
input[type="number"]{
    width: 85px;
    height: 30px;
    outline: none;
    background: transparent;
    appearance: textfield;
    text-align: center;
    border: none;
}
.row{
    display: flex;
    justify-content: space-between;
    gap: 9px;
}
.row label{
    flex-grow: 5;
}
.compteur{
    display: flex;
    justify-content: flex-end;
    background-color: rgba(163, 182, 176, 0.7);
    border: solid 2px rgb(105, 105, 105);
    border-radius: 15px;
    height: 35px;

}
.decrement, .increment{
    font-weight: bolder;
    font-size: 20pt;
    color: brown;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}
.decrement:hover, .increment:hover{
    background-color: rgba(110, 128, 129, 0.7);
    cursor: pointer;
    border-radius: 15px;
}